.listTitle {
  margin-left: 15px;
  color: #282828;
}

.itemsList {
  .item {
    display: flex;
    flex-direction: row;
    cursor: pointer;
    &:hover {
      color: blue;
    }
    p {
      margin: 0;
    }
    input {
      margin-right: 15px;
      &:checked ~ p {
        text-decoration: line-through;
      }
    }
    button {
      margin-left: 5px;
      border: none;
      background-color: #eee;
      border-radius: 10px;
      padding: 1;
      cursor: pointer;
      &:hover {
        background-color: #ccc;
      }
    }
  }
}

.breadcrumb {
  padding: 10px 16px;
  list-style: none;
  background-color: #eee;
  li {
    display: inline;
    cursor: pointer;
    &:hover {
      color: blue;
    }
    & + li:before {
      padding: 8px;
      color: black;
      content: '/\00a0';
    }
  }
}

.newItem {
  input {
    margin-left: 70px;
    border: none;
    font-size: 1em;
    border-bottom: 1px solid #555;
    padding-left: 5px;
    padding-bottom: 5px;
    &:focus {
      border-color: blue;
      border-width: 1.5px;
    }
  }
  button {
    font-size: 1em;
    border: none;
    box-shadow: #ccc 1px 1px 3px;
    border-radius: 3px;
    cursor: pointer;
    padding: 5px;
    background-color: #eee;
    margin-left: 15px;
    &:hover {
      background-color: #ccc;
    }
  }
}
